.body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.web-1366-1 {
  background-color: white;
  height: 814px;
  width: 1200px;
}
.web-1366-1 .anion-component {
  height: 731px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 435px;
}
.web-1366-1 .giphy {
  border-radius: 184px;
  cursor: pointer;
  height: 186px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: 186px;
}
.web-1366-1 .group-14 {
  height: 96px;
  left: 34px;
  position: absolute;
  top: calc(23.64% - 23px);
  width: calc(100.00% - 34px);
}
.web-1366-1 .group-15 {
  height: 96px;
  left: 34px;
  position: absolute;
  top: calc(42.52% - 41px);
  width: calc(100.00% - 34px);
}
.web-1366-1 .group-16 {
  bottom: calc(38.60% - 37px);
  height: 96px;
  left: 34px;
  position: absolute;
  width: calc(100.00% - 34px);
}
.web-1366-1 .group-17 {
  bottom: calc(19.72% - 19px);
  height: 96px;
  left: 34px;
  position: absolute;
  width: calc(100.00% - 34px);
}
.web-1366-1 .health-component {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 743px;
}
.web-1366-1 .icon-awesome-telegram-plane {
  bottom: 8px;
  height: 62px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  width: 79px;
}
.web-1366-1 .icon-awesome-telegram-plane-1 {
  bottom: 7px;
  height: 62px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  width: 79px;
}
.web-1366-1 .learn-more {
  bottom: 74px;
  cursor: pointer;
  height: 35px;
  left: calc(47.05% - 77px);
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 164px;
}
.web-1366-1 .main-component {
  height: 811px;
  left: 22px;
  position: relative;
  width: 1178px;
}
.web-1366-1 .rectangle-10 {
  background-color: white;
  bottom: 0;
  box-shadow: 0px 3px 6px #00000060;
  cursor: pointer;
  height: 444px;
  left: 0;
  position: absolute;
  width: calc(100.00% - 18px);
}
.web-1366-1 .rectangle-11 {
  background-color: #3d85b8;
  border-radius: 31px;
  bottom: 55px;
  height: 74px;
  position: absolute;
  right: calc(49.73% - 124px);
  width: 250px;
}
.web-1366-1 .rectangle-12 {
  background-color:#e6b2a6  ;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100.00% - 88px);
}
.web-1366-1 .rectangle-13 {
  background-color:  #b3c4d8;
  height: 100%;
  left: 47px;
  position: absolute;
  top: 0;
  width: calc(100.00% - 47px);
}
.web-1366-1 .rectangle-9 {
  background-color:#e6b2a6  ;
  cursor: pointer;
  height: 141px;
  left: 0;
  position: absolute;
  top: calc(23.56% - 33px);
  width: 100%;
}
.web-1366-1 .text- {
  -webkit-text-stroke: 5px transparent;
  bottom: calc(47.27% - 19px);
  height: 41px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  right: 74px;
  text-align: center;
  white-space: nowrap;
  width: 526px;
}
.web-1366-1 .text-1 {
  -webkit-text-stroke: 1px ;
  bottom: 113px;
  cursor: pointer;
  height: 282px;
  left: 23px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 44px);
}
.web-1366-1 .text-2 {
  -webkit-text-stroke: 1px;
  color: var(--black);
  cursor: pointer;
  font-family: HelveticaNeue-Bold;
  font-size: xx-large;
  font-weight: 700;
  height: 105px;
  left: 37px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: calc(100.00% - 141px);
}
.web-1366-1 .text-4 {
  -webkit-text-stroke: 5px transparent;
  bottom: calc(40.00% - 16px);
  height: 41px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  right: 74px;
  text-align: center;
  white-space: nowrap;
  width: 526px;
}
.web-1366-1 .title {
  -webkit-text-stroke: 1px;
  color: black;
  cursor: pointer;
  font-family: HelveticaNeue-Bold;
  font-size: xx-large;
  font-weight: 700;
  height: 53px;
  left: 25px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: calc(27.14% - 14px);
  white-space: nowrap;
  width: 389px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "HelveticaNeue-MediumItalic";
  font-style: italic;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/HelveticaNeue-MediumItalic") format("opentype");
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Bold") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-BoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/HelveticaNeue-BoldItalic") format("truetype");
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}


.body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.iphone-12-pro-max-1 {
  background-color: white;
  height: 1038px;
  width: 428px;
}
.iphone-12-pro-max-1 .anion-component {
  height: 570px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.iphone-12-pro-max-1 .giphy {
  border-radius: 57px;
  cursor: pointer;
  height: 132px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 143px;
}
.iphone-12-pro-max-1 .group-18 {
  height: 10.55%;
  left: 13.08%;
  position: absolute;
  top: 27.69%;
  width: 79.21%;
}
.iphone-12-pro-max-1 .group-19 {
  height: 10.55%;
  left: 13.08%;
  position: absolute;
  top: 45.27%;
  width: 79.21%;
}
.iphone-12-pro-max-1 .group-20 {
  height: 10.55%;
  left: 13.08%;
  position: absolute;
  top: 62.86%;
  width: 79.21%;
}
.iphone-12-pro-max-1 .group-21 {
  height: 10.55%;
  left: 13.08%;
  position: absolute;
  top: 80.44%;
  width: 79.21%;
}
.iphone-12-pro-max-1 .health-component {
  background-color:  #e6b2a6;
  bottom: 0;
  height: 455px;
  left: 0;
  position: absolute;
  width: 100%;
}
.iphone-12-pro-max-1 .icon-awesome-telegram-plane {
  height: 32px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 35px;
}
.iphone-12-pro-max-1 .learn-more {
  bottom: 66px;
  color: white;
  cursor: pointer;
  font-family: HelveticaNeue-Bold;
  font-size: large;
  font-weight: 700;
  height: 25px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  right: calc(49.68% - 58px);
  text-align: center;
  white-space: nowrap;
  width: 116px;
}
.iphone-12-pro-max-1 .main-component {
  height: 1034px;
  position: relative;
}
.iphone-12-pro-max-1 .overlap-group {
  height: 48px;
  left: -1px;
  position: relative;
  width: 340px;
}
.iphone-12-pro-max-1 .rectangle-10 {
  background-color: white;
  box-shadow: 0px 3px 6px ;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.iphone-12-pro-max-1 .rectangle-11 {
  background-color: #2a4579;
  border-radius: 31px;
  bottom: 47px;
  height: 63px;
  left: calc(49.77% - 106px);
  position: absolute;
  width: 213px;
}
.iphone-12-pro-max-1 .rectangle-13 {
  background-color: #b3c4d8;
  height: 48px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 313px;
}
.iphone-12-pro-max-1 .rectangle-9 {
  background-color:  #e6b2a6;
  bottom: calc(48.59% - 156px);
  cursor: pointer;
  height: 321px;
  left: 81px;
  position: absolute;
  width: calc(100.00% - 162px);
}
.iphone-12-pro-max-1 .text- {
  -webkit-text-stroke: 5px transparent;
  left: 49px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}
.iphone-12-pro-max-1 .text-1 {
  -webkit-text-stroke: 1px;
  color: black;
  font-family:HelveticaNeue-BoldItalic ;
  font-size: large;
  font-weight: 700;
  height: 12.97%;
  left: 13.32%;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 7.69%;
  white-space: nowrap;
  width: 78.50%;
}
.iphone-12-pro-max-1 .text-6 {
  bottom: 78px;
  color: black;
  cursor: pointer;
  font-family:HelveticaNeue-Regular ;
  font-size: medium;
  height: 294px;
  left: 101px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 200px);
}
.iphone-12-pro-max-1 .what-are-anions {
  color: black;
  cursor: pointer;
  font-family: HelveticaNeue-Bold;
  font-size: x-large;
  font-weight: 700;
  height: 27px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  right: calc(48.95% - 93px);
  top: calc(30.02% - 8px);
  white-space: nowrap;
  width: 191px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "HelveticaNeue-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Regular") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-MediumItalic";
  font-style: italic;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/HelveticaNeue-MediumItalic") format("opentype");
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Bold") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-BoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/HelveticaNeue-BoldItalic") format("truetype");
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
